# Ignore all files in work_dir, except ~~project rebuild script~~ all tcl scripts.
work_dir/*
!work_dir/*.tcl

# Also allow verilator build config files.
!work_dir/verilator
work_dir/verilator/*
!work_dir/verilator/input.vc
!work_dir/verilator/Makefile
!work_dir/verilator/Makefile_obj

# Block design and IP integrator tend to generate a lot of files where the .bd (block design) file is held. Ignore them, but keep (block)design files.
zynq_system/*
!zynq_system/*.v
!zynq_system/*.sv
!zynq_system/*.bd
zynq_system/*bmstub.v

# Same for AXI4-Stream system.
streaming_zynq_system/*
!streaming_zynq_system/*.v
!streaming_zynq_system/*.sv
!streaming_zynq_system/*.bd
streaming_zynq_system/*bmstub.v

# Ignore macOS specific junk files.
**/.DS_store

# Ignore Xilinx junk
**/.Xil/

# Ignore DVT files (junk?)
**/.dvt/
**/dvt_build.log

# Ignore vscode junk
**/.vscode/